@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Playfair+Display:wght@700&display=swap');



*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow:0 8px 6px -6px gray;
  border-bottom: solid gray;
}

.nav-link {
  font-weight: 300;
}

.active{
  border-bottom: 2px solid black;
}

.nav-item.dropdown .nav-link.active {
  border-bottom: none !important;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

.footer{
  color: white;
  padding: 25px;
  background: linear-gradient(to right, #000000, #808080);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}


.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76.75vh;
  flex-direction: column;
}